h3 {
    color: purple;
    font-size: 30px;

}
#timer {
    display: flex;
    justify-content: flex-end;
}
body {
    background-color: rgb(255, 246, 214);
    margin: 20px;
}
p, h1 {
    text-align: center;
}

.flex-container {
    justify-content: center;
}